*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

                                        /*Header*/

header{
    width: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bnt_atras{
    text-align: center;
    width: 25px;
    margin-top: 13px;
    text-decoration: none;
    height: 25px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #2A7AE4;
    background-color: #2A7AE4;
    border-radius: 50%;
    opacity: 0.9
}
.contenedor_header{
    width: 601px;
    gap: 32px;
    display: flex;
    align-items: center;
}
.contenedor_header > img{
    margin-right: 30px;
}
.buscador{
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}
.search{
    position: relative;
    border-radius: 25px;
    border: none;
    background-color: #e9e7e7;
    padding: 5px 30px 5px 10px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
}
.fas{
    color: grey;
    transform: translateX(-170%);
    font-size: 14px;
}
.login_btn {
    height: 51px;
    width: 182px;
    background-color: transparent;
    border: 1px solid #2A7AE4;
    cursor: pointer;
    font-weight: 400;
    transition: background-color 0.5s linear 0s;
}
.login_btn:hover {
    background-color: #2A7AE4;
    opacity: 0.7;
} 
.login_btn:hover > a {
    color: white;
}
.login_btn > a {
    text-decoration: none;
    color: #2A7AE4;
}
.banner{
    opacity: 0.9;
    position: relative;
    height: 325px;
}
.banner>img{
    margin-top: 15px;
    width: 100%;
    height: 310px;
}
.contenedor_banner{
    position: absolute;
    top: 25%;
    left: 10%;
    color: #fff;
}
.banner_btn{
    text-decoration: none;
    width: 129px;
    color: #fff;
    background-color: #2A7AE4;
    border: 1px solid #2A7AE4;
    margin-top: 25px;
    padding: 12px;
    text-align: center;
    display: block;
    cursor: pointer;
    line-height: 18.78px;
}
.contenedor_banner>h1{
    font-weight: 700;
    font-size: 2.55rem;
    line-height: 61.05px;
}
.contenedor_banner>span{
    font-size: 1.30rem;
    font-weight: 700;
    line-height: 25.83px;
}

                                        /* Main home */

main{
    padding: 0px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
section{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section_tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    font-weight: 700;
    line-height: 37.57px;
    color: #464646;
}
.section_tittle a{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: #2A7AE4;
}
.section_product{
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.producto{
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    height: 250px;
    width: 185px;
    animation: dissolve 6s ease-out 3s infinite normal forwards;
}
@keyframes dissolve {
	0%,
	50%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0.5;
	}
}
.img_producto{
    width: 176px;
    height: 170px;
}
.title_producto{
    font-size: 16px;
    font-weight: 500;
    line-height: 16.44px;
    color: #464646;
    height: 16px;
}
.precio_producto{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    color: #464646;
    height: 19px;
}
.link_detalles_producto{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    color: #2A7AE4;
    height: 19px;
    width: 100px; 
}
.product_buttons {
    position: absolute;
    top: 10px; 
    left: 112px; 
    z-index: 1; 
}
.edit_button,
.delete_button {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

                                        /* Main admin */

.contenedor_header_admin{
    width: 70%;
    gap: 32px;
    display: flex;
    align-items: center;
}
.contenedor_header_all{
    width: 90%;
    gap: 32px;
    display: flex;
    align-items: center;
}
.main_admin{
    margin-top: 15px;
    width: 100%;
    background-color: #F5F5F5;
    padding: 60px;
}
.form_admin{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 310px;
    gap: 17px;
}
.title_form_admin{
    height: 38px;
    color: #464646;
    font-size: 32px;
    font-weight: 700;
}
.form_admin>input{
    width: 423px;
    height: 63px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 10px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(161,161,161,0.4);
    -moz-box-shadow: 0px 1px 1px 0px rgba(161,161,161,0.4);
    box-shadow: 0px 1px 1px 0px rgba(161,161,161,0.4);
}
.btn_sign_in{
    width: 423px;
    height: 62px;
    background-color:#2A7AE4;
    color: #fff;
    padding: 12px 16px;
    border: 1px solid #2A7AE4;
    cursor: pointer;
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 400;
}
.btn_sign_in a{
    color: #FFF;
    text-decoration: none;
    background-color: transparent;
}

#fail{
    color: red;
    font-size: 15px;
}

                                        /* Section add new products */

.new_product{
    display: flex;
    gap: 16px;
    width: auto;
    height: 491px;
    flex-direction: column;
    align-items: center;
}
.new_product>input{
    height: 56px;
    width: 560px;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 0px 5px;
}
.new_product input:nth-last-of-type(2){
    height: 82px;
}


                                        /* Mssjs formulario de consulta */
.error-message {
    color: red;
    font-size: 13px;
}
.success-message {
    color: green;
    font-size: 15px;
    padding: 5px 0px;
}

                                        /* Footer */

.footer{
    background-color: #EAF2FD;
    width: 100%;
    height: 340px;
    padding: 40px;
    gap: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.footer>img{
    width: 180px;
    height: 50px;
}
.links ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    text-decoration: none;
}
.links ul li a{
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}
.footer>form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}
.span_consultas{
    width: 450px;
    height: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}
.form_consultas>input{
    width: 420px;
    height: 40px;
    border: none;
    padding: 5px;
    border-radius: 4px;
    outline: none;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(161,161,161,0.4);
    -moz-box-shadow: 0px 1px 1px 0px rgba(161,161,161,0.4);
    box-shadow: 0px 1px 1px 0px rgba(161,161,161,0.4);
    }
.form_consultas>textarea{
    width: 420px;
    height: 100px;
    border: none;
    resize: none;
    padding: 5px;
    border-radius: 4px;
    outline: none;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(161,161,161,0.4);
    -moz-box-shadow: 0px 1px 1px 0px rgba(161,161,161,0.4);
    box-shadow: 0px 1px 1px 0px rgba(161,161,161,0.4);
}
.form_btn{
    background-color:#2A7AE4;
    color: #fff;
    padding: 10px;
    border: 1px solid #2A7AE4;
    cursor: pointer;
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 400;
}
.form_btn a{
    color: #fff;
    text-decoration: none;
}
.rodapie{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1.15rem;
}
